{{#isMap}}Map<String, {{{returnType}}}>{{/isMap}}{{^vendorExtensions.x-spring-paginated}}{{#isArray}}{{#reactive}}Flux{{/reactive}}{{^reactive}}{{{returnContainer}}}{{/reactive}}<{{{returnType}}}>{{/isArray}}{{/vendorExtensions.x-spring-paginated}}{{#vendorExtensions.x-spring-paginated}}{{{returnType}}}{{/vendorExtensions.x-spring-paginated}}{{^returnContainer}}{{{returnType}}}{{/returnContainer}}